.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: 10%;
    background-color: lightgrey;
  }
  body{
    background-color: orange;
  }
  .light {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .light:last-child {
    margin-bottom: 0;
  }
  